.nav-links .links:hover {
 color: #525fe1;
}

.nav-btn .btn {
 border-color: #525fe1;
}

@media only screen and (max-width: 600px) {
 .nav-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0;
 }
}

@media only screen and (min-width: 600px) {
 .nav-container {
  display: grid;

  justify-items: center;
  padding: 0;
 }
}