.course-section {
 width: 300px;
 height: 400px;
}

.course-section img {
 width: 250px;
 height: 180px;

}

.course-cart-btn {
 background-color: #525fe1;
}

.course-cart-btn:hover {
 background-color: #231f40;
}

.author-rate img {
 width: 35px;
 height: 35px;
 border-radius: 50%;
}