.course-section {
 width: 300px;
 height: 350px;
}

.course-section img {
 width: 250px;
 height: 180px;

}

.course-cart-btn {
 background-color: #525fe1;
}

.course-cart-btn:hover {
 background-color: #231f40;
}