.footer-container {
 width: 100%;
 height: auto;

 background: hsla(180, 100%, 94%, 1);

 background: linear-gradient(360deg, hsla(180, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

 background: -moz-linear-gradient(360deg, hsla(180, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

 background: -webkit-linear-gradient(360deg, hsla(180, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E1FFFF", endColorstr="#FFFFFF", GradientType=1);
}

.footer-one {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.footer-logo {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}

.footer-logo img {
 padding: 5px 5px;
 width: 130px;
 height: 40px;
}

.footer-links {
 display: flex;
 flex-direction: column;

}

.footer-links .links {
 text-decoration: none;
 color: rgba(0, 0, 0, 0.934);
 padding: 5px;
}

.payment-method img {
 padding: 10px;
 width: 300px;
 height: 150px;
}

.links:hover {
 color: #525fe1;
}

.footer-two {
 display: flex;
 justify-content: space-around;
 padding-top: 10px;
 border-top: 1px solid gray;
}

.conditions {
 display: flex;
}

.conditions p {
 padding: 0 10px;
}